<!DOCTYPE html>
<html>
<head>
  <%- include my_mod/head.ejs %>
  <!-- socket.io/dist/*.* 은 socket.io/*.*으로 위치이동 인식함 -->
  <script src='/socket.io/socket.io.js'></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar : 페이지 상부 : 로그아웃,회원정보등등 -->
    <%- include my_mod/navbar.ejs %>    
    <!-- Main Sidebar Container : 사이드뷰 -->
    <%- include my_mod/aside.ejs %>
    <!-- Content Wrapper. Contains page content : 실제콘텐츠 -->
    <%- include sub_pages/chat_sub.ejs %>
    <!-- 카피라이트, 회사 정보 -->
    <%- include my_mod/footer.ejs %>
  </div>  
  <%- include my_mod/foot_mini.ejs %>
  <script src='/js/chat.js'></script>
</body>
</html>